<%= content_for :breadcrumbs, [['Home', href="#"], ['Blog', href="/articles"]] %>
<%= render partial: 'flash_message', locals: {messages: flash} %>

<h1>Blogs</h1>
<%= @articles.count %> Blogs

<% @articles.each do |article| %>
	<%= render partial: "thumbnail", locals: {a: article}%>
<% end %>
