<%= content_for :breadcrumbs, [['Home', href="#"], ['Albums', href="/photos"]] %>
<%= render partial: 'flash_message', locals: {messages: flash} %>

<h1>Albums</h1>
<%= @album.count %> albums

<% @album.each do |album| %>
	<%= render partial: "thumbnail", locals: {a: album}%>
<% end %>
