
<!--Tao cac album (thumbnail)-->
    <div class="container">
      <div class="row">

          <div class="col-lg-12" style="margin-bottom: 20px">
              <h1 class="page-header">My Albums</h1>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a class="thumbnail" href="/album/1">
                  <img class="img-responsive" src="/images/animal/img_01.jpg" alt="" style="width:300px; height: 170px">
                  <div class="caption">
                    <p><strong><center><h4>Animals</h4></center>
                    Người tạo: Tyrion Lannister<br>
                    Lượt view: 55</strong></p>
                  </div>
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a class="thumbnail" href="/album/2">
                  <img class="img-responsive" src="/images/culture/img_01.jpg" alt="" style="width:300px; height: 170px">
                  <div class="caption">
                    <p><strong><center><h4>Cultural tradition</h4></center>
                    Người tạo: Uchiha Sasuke<br>
                    Lượt view: 50</strong></p>
                  </div>
              </a>
          </div>
      </div>
    </div>
</div>
