<%= content_for :breadcrumbs, [['Home', href="#"], ['Blog', href="/blog"]] %>
<%= render partial: 'flash_message', locals: {messages: flash} %>

<h1>Blogs</h1>
<%= @blog.count %> blogs

<% @blog.each do |blog| %>
	<%= render partial: "thumbnail", locals: {a: blog}%>
<% end %>
