<%= content_for :breadcrumbs, [['Home', href="#"], ['About', href="/about"]] %>
<div class="wel-mesg">
        <div class="wrap">
            <h2>Giới thiệu thành viên nhóm</h2>
            <p>Môn: Thương mại điện tử</p>
        </div>
    </div>

<div class="content-top-grids">
        <div class="wrap">
            <div class="top-grid">
                <div class="top-grid-head">
                    <h3><span>Thành viên</span>Dương Thành Đạt</h3>
                    <img src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t34.0-12/22290369_1624535970939636_1258204314_n.png?oh=b6931838f3c13d975a5afa6ca4361622&oe=59DD9622" alt="">
               </div>
               <div class="top-grid-info">
                   <h4>KHOA CÔNG NGHỆ THÔNG TIN</h4>
                   <p>MSSV: 1412118 <br>Giới tính: Nam</p>
               </div>
           </div>
           <div class="top-grid last-grid">
               <div class="top-grid-head">
                 <h3><span>Thành viên</span>Lê Hữu Bách</h3>
                   <img src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t34.0-12/22236088_1624528290940404_831588971_n.png?oh=d0d5560ce559d67de7093d18e08352d2&oe=59DDE417" alt="">
                </div>
                <div class="top-grid-info">
                    <h4>KHOA CÔNG NGHỆ THÔNG TIN</h4>
                    <p>MSSV: 1412033 <br>Giới tính: Nam</p>
                </div>
              </div>

      </div>
      <div class="local">

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5244460396057!2d106.65954641438492!3d10.771086362238607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ec2f5b4b6e5%3A0xd46c1b816e725184!2zSOG6u20gN0EvMzkgVGjDoG5oIFRow6FpLCBwaMaw4budbmcgMTQsIFF14bqtbiAxMCwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1507193118359" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      <h2>Địa chỉ của nhóm</h2>
        </div>
  </div>
