// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.content-top-grids {

    padding: 2em 0;
}

.local{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 2em;
  color: #3e454d;
  padding: 0.2em 0 0.1em 0;

  
  margin-top: 40px;
  text-align: center;
  background: #FFF;
}

.wel-mesg {
    font-family: 'Archivo Narrow', sans-serif;
    text-align: center;
    background: #FFF;
    padding: 1em 0 0em 0;
}
.wel-mesg h2 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2em;
    color: #3e454d;
    padding: 0.2em 0 0.1em 0;
    text-transform: uppercase;
}
.wel-mesg p {
    font-size: 1.2em;
    color: #999;
    font-weight: normal;
    margin-bottom: 10px;
}

.top-grid {
    width: 45%;
    float: left;
    background: #22B4B8;
    border: 1px solid #e5e5e5;
    margin-bottom: 18px;
    text-align: center;
}
.last-grid {
    float: right;
}
.top-grid-head {
    background: #FFF;
    padding: 1em 0 0 0;
}
.top-grid-head h3 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #3e454d;
    padding: 0.3em 0 0.8em 0;
}
.top-grid-head h3 span {
    font-weight: 400;
    display: block;
    margin-bottom: 0.2em;
}
.top-grid-head img {
    margin-bottom: -67px;
    border: 1px solid #d4d4d4;
    border-radius: 50%;
    width: 80%;
}
.top-grid-info {
    padding: 5em 0 2em 0;
}
.top-grid-info h4 {
    color: #FFF;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}
.top-grid-info p {
    width: 90%;
    margin: 0 auto;
    color: #FFF;
    text-transform: uppercase;
    font-size: 0.875em;
    font-family: 'Archivo Narrow', sans-serif;
    line-height: 1.5em;
}
.top-grid a {
    background: #F4F6F5;
    padding: 0.8em 0;
    display: block;
    color: #3e454d;
    font-size: 0.875em;
    text-transform: uppercase;
    font-family: 'Archivo Narrow', sans-serif;
    transition: all 0.3s ease-out;
}
